{% extends "utilis/base.html" %}

{% block start %}
<div class="container pt-5 pb-5">
    <div class="col-6 mx-auto card shadow p-4" style="border:none">
        <form method="POST">
            {% include 'utilis/alerts.html' %}
            {% csrf_token %}

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">OTP</label>
                <input type="text" name="otp" class="form-control" id="otp">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
